@use "../../sass/utils/breakpoints.scss" as *;

.pokemonList__pokemons {
  margin-top: var(--s-lg);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--s-md);

  @include sm {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
