// Globals
$green-gradient: linear-gradient(270deg, #64d368 0.15%, #64d368 70.88%);
$yellow-gradient: linear-gradient(180deg, #f5db13 0%, #f2b807 100%);
$yellow-color: #ffda55;
$green-color: #48d0b0;
$white-color: #ffffff;
$black-color: #282828;
$grey-dark: #444444;
$grey-medium: #767676;
$grey-light: #f2f2f2;
$shadow-header: 0px 4px 16px rgba(1, 28, 64, 0.2);
$shadow-search: 4px 4px 8px rgba(1, 28, 64, 0.2);
$shadow-card: 4px 4px 16px rgba(1, 28, 64, 0.1);
$shadow-card-hover: 6px 6px 10px rgba(1, 28, 64, 0.3);
$shadow-dropdown: 2px 2px 2px rgba(33, 33, 33, 0.1);
$shadow-button: 0px 2px 0px rgba(0, 0, 0, 0.18);

// Pokemons color
:root {
  --green-pokemon: #48d0b0;
  --red-pokemon: #fb6c6c;
  --pink-pokemon: #f2cdd6;
  --blue-pokemon: #77bdfe;
  --yellow-pokemon: #ffce4b;
  --purple-pokemon: #a499c1;
  --brown-pokemon: #deb887;
  --gray-pokemon: #b8b8b8;
  --black-pokemon: #888888;
  --white-pokemon: #99ceff;
}
